<!DOCTYPE html>
<html>
<head>
<title>Error Occurred</title>
<style>
  body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }

  .error-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 40px;
    color: #d54a30;
  }

  p {
    font-size: 18px;
    color: #666;
    margin-top: 15px;
  }

  a {
    color: #337ab7;
    text-decoration: none;
  }
</style>
</head>
<body>
  <div class="error-container">
    <h1>Wrong Credentials</h1>
    <p>You Entered wrong Credentials</p>
  </div>
</body>
</html>
