<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UnityMed Hospital</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


  <link rel="stylesheet" href="style.css">

</head>

<body>


  <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg bg-body-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">UnityMed Hospital</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link ">Docter</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  </div>

  <img class="banner" src="src/WebBanner.jpg" alt="">


  <section class="intro">
    <!-- HOME -->
    <div class="content">
      <div class="textBox">
        <h2>We are Here <br>For Your <span><br>HEALTHY HEALTH</span></span></h2>
        <h2>Your Trusted Partner in Health and Healing</h2>

        <p class="lorem">UnityMed Hospital stands as a beacon of comprehensive healthcare, melding cutting-edge
          expertise with unwavering compassion. Our state-of-the-art facility embodies a harmonious blend of advanced
          medical care and a patient-centric approach. Committed to fostering unity in health, we prioritize individual
          well-being, offering a diverse spectrum of services tailored to each unique journey. Through a dedicated team
          of skilled professionals, we ensure a nurturing environment that transcends mere treatment, fostering holistic
          healing and empowerment. At UnityMed, we embrace diversity, championing inclusivity in our pursuit of
          delivering exceptional, accessible healthcare, forging a community where every life finds solace and support.
        </p>
      </div>
      <div class="imgBox">
        <img src="src/img1.jpg" class="img1">
      </div>
    </div>
  </section>


  <section class="btn-sec">
    <button type="button" class="appointment_button" id="signupButton">Book an appointment here</button>
    <button type="button" class="contact_us" id="loginButton">Login Here</button>


  </section>

  <section class="skils">

    <h1 class="skill-head"><br>What we offer</h1>
    <div class="grid-container">
      <div class="grid-item">
        <img src="src/heart.png" alt="Icon 1">
        <p>Cardiology</p>
      </div>
      <div class="grid-item">
        <img src="src/knee.png" alt="Icon 1">
        <p>Orthopedic</p>
      </div>
      <div class="grid-item">
        <img src="src/brain.png" alt="Icon 1">
        <p>Neurosurgery</p>
      </div>
      <div class="grid-item">
        <img src="src/x-ray.png" alt="Icon 1">
        <p>Radiology</p>
      </div>
      <div class="grid-item">
        <img src="src/kidney.png" alt="Icon 1">
        <p>Nephrology</p>
      </div>
      <div class="grid-item">
        <img src="src/tooth.png" alt="Icon 1">
        <p>Denstistry</p>
      </div>
    </div>
  </section>

  <section>
    <div class="footer-top-inner">
      <div class="footer-ask">
        <h2>Feel Free to ask us</h2>

      </div>
      <div class="footer-outer-menu">


        <ul class="menu">
          <li class="menu-item menu-item--expanded menu-item--active-trail">
            <a href="/about-us" data-drupal-link-system-path="node/6390" class="is-active">About Us</a>
            <ul class="menu">

            </ul>

          </li>
          <li class="menu-item menu-item--expanded">
            <a href="">Patient Care and Services</a>
            <ul class="menu">
              <!-- <li class="menu-item">
                <a href="/admission-process" data-drupal-link-system-path="node/1061">Admission Process</a>
                  </li>
                  <li class="menu-item">
                <a href="/discharge-process" data-drupal-link-system-path="node/1062">Discharge process</a>
                  </li>
                  <li class="menu-item">
                <a href="/home-isolation" data-drupal-link-system-path="node/1091">Home Isolation</a>
                  </li>
                  <li class="menu-item">
                <a href="/guidelines-for-visitors" data-drupal-link-system-path="node/1063"> Guidelines for Visitors</a>
                  </li>
                  <li class="menu-item">
                <a href="/patient-attendant-responsibilities" data-drupal-link-system-path="node/1064">Patient &amp; Attendant Responsibilities</a>
                  </li>
                  <li class="menu-item">
                <a href="/patient-attendant-rights" data-drupal-link-system-path="node/1066">Patient &amp; Attendant Rights</a>
                  </li> -->
            </ul>

          </li>
          <li class="menu-item menu-item--expanded">
            <a href="">Statutory Compliances</a>
            <ul class="menu">
              <!-- <li class="menu-item">
                <a href="/statutory-monthly-report" title="Bio Medical Waste Report" data-drupal-link-system-path="node/6970">Bio Medical Waste Report</a>
                  </li>
                  <li class="menu-item">
                <a href="/bio-medical-waste-report-fmc-kolkata" title="BMW Report - FMC Kolkata" data-drupal-link-system-path="node/12585">BMW Report - FMC Kolkata</a>
                  </li>
                  <li class="menu-item">
                <a href="/organ-transplant/organ-transplant-committe-data" data-drupal-link-system-path="node/11893">Organ Transplant - Committe Data</a>
                  </li>
                  <li class="menu-item">
                <a href="/organ-transplant/organ-transplant-donation-data" data-drupal-link-system-path="node/11892">Organ Transplant - Donation Data</a>
                  </li>
                  <li class="menu-item">
                <a href="/ortho-knee-implant-pricing" data-drupal-link-system-path="node/11459">Ortho Knee implant Pricing</a>
                  </li>
                  <li class="menu-item">
                <a href="/stent-pricing" data-drupal-link-system-path="node/11367">Stent Pricing</a>
                  </li> -->
            </ul>

          </li>
          <li class="menu-item menu-item--expanded">
            <a href="" title="Clinical Outcomes at Fortis Healthcare">Clinical Outcomes</a>
            <ul class="menu">

            </ul>

          </li>
        </ul>


      </div>
    </div>
  </section>



  <div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-bottom-inner">
          <!-- FOOTER LEFT START -->
          <div class="footer-bottom-left">
            <div>
              <div id="block-footerbottomlogo">


                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">

                    <div>

                      <p><br></p>
                    </div>

                  </div>
                </div>

              </div>

            </div>

          </div>
          <!-- FOOTER LEFT END -->
          <!-- FOOTER CENTRE START -->
          <div class="footer-social-outer">
            <div>
              <div id="block-footersocialblock">
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">

                    <div class="footer-link">
                      <h4>STAY IN TOUCH</h4>
                      <div class="footer-social"> <a href="#Link" target="_blank">
                          <img src="https://fhlazwebsau01.blob.core.windows.net/drupal-data/2023-03/instagrame.png"
                            alt="instagram"></a> <a href="#link" target="_blank"><img
                            src="https://fhlazwebsau01.blob.core.windows.net/drupal-data/2023-03/facebook.png"
                            alt="facebook"></a> <a href="#link" target="_blank"><img
                            src="https://fhlazwebsau01.blob.core.windows.net/drupal-data/2023-03/twitter.png"
                            alt="twitter"></a> <a href="#link" target="_blank"><img
                            src="https://fhlazwebsau01.blob.core.windows.net/drupal-data/2023-03/youtube.png"
                            alt="youtube"></a> </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="footer-link-outer">
            <div>
              <nav role="navigation" aria-labelledby="block-footer-menu" id="block-footer" class="footer-link">
                <ul class="menu">

                  <li class="menu-item">
                    <a href="/privacy-policy" data-drupal-link-system-path="node/1065">Privacy Policy</a>
                  </li>
                  <li class="menu-item">
                    <a href="/terms-and-conditions" data-drupal-link-system-path="node/1095">Terms &amp; Conditions</a>
                  </li>
                  <li class="menu-item">
                    <a href="/gifting-policy" data-drupal-link-system-path="node/1093">Gifting Policy</a>
                  </li>
                  <li class="menu-item">
                    <a href="/online-payment-refund-policy" data-drupal-link-system-path="node/1094">Online payment
                      &amp; refund policy</a>
                  </li>
                  <li class="menu-item">
                    <a href="/tele-consult" data-drupal-link-system-path="node/1096">Tele-consult</a>
                  </li>

                </ul>


              </nav>
              <div id="block-footerbottomcopyrightblock">
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <div class="footer-bottom">
                      <p>© 2024 UnityMed Healthcare. &#9829; All Rights Reserved.</p>
                    </div>

                  </div>
                </div>

              </div>

            </div>

          </div>
          <!-- FOOTER RIGHT END -->
        </div>
      </div>
    </div>
  </div>



  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Redirect to patient login page
      document.getElementById('loginButton').addEventListener('click', function () {
        window.location.href = '/patientLogin';
      });

      // Redirect to signup page
      document.getElementById('signupButton').addEventListener('click', function () {
        window.location.href = '/signup';
      });

      // Redirect to doctor login page
      document.getElementById('doctorButton').addEventListener('click', function () {
        window.location.href = '/doctorLogin';
      });

    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>